<?xml version="1.0" encoding="UTF-8" ?>
<Module>
  <ModulePrefs title="Your App Name">
    <Require feature="rpc"/>
    <Require feature="views"/>
  </ModulePrefs>
  <Content type="html">
    <![CDATA[
      <script src="//plus.google.com/hangouts/_/api/v1/hangout.js"></script>
      <!-- Your application code -->

      <script>
        gapi.hangout.onApiReady.add(function(eventObj) {
          // Get the hangout url
          var url = gapi.hangout.getHangoutUrl();

          // Get the emails passed in the URL
          var emails = gadgets.views.getParams()['emails'];

          console.log(emails);

          // Invite those emails to hangout
          
          // Send it back to the app so we can ping HipChat
        });
      </script>
    ]]>
  </Content>
</Module>
